body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1080px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:80px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:152px;
  height:50px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:148px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:960px;
  width:719px;
  height:120px;
}
#u4_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:120px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:120px;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:120px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:236px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:120px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:240px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:236px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:120px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:239px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:235px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:24px;
  width:85px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:26px;
  width:18px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:16px;
  width:141px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:720px;
  height:880px;
  overflow:hidden;
}
#u12_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:880px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:260px;
  overflow:hidden;
}
#u13_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:260px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:260px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:260px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:121px;
  width:716px;
  word-wrap:break-word;
}
#u13_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:260px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:260px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:260px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:121px;
  width:716px;
  word-wrap:break-word;
}
#u13_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:260px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:260px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:260px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:121px;
  width:716px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:310px;
  width:170px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:310px;
  width:170px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:398px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:533px;
  width:620px;
  height:398px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:513px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:1173px;
  width:662px;
  height:49px;
  overflow:hidden;
}
#u21_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
