html, body {
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
}
#wrapper {
  position: relative;
}

#mainContainer {
  width: 1920px;
  height: 1080px;
  top: 0; left: 0;
  position: absolute;
  transform-origin: 0 0;
  background: url(https://sugar.bce.baidu.com/static/img-templet/background-88VwuczRK2Rx8iRx.jpg) 0% 0% / 100% 100% rgb(3, 12, 59);
}

#block1 {
  width: 500px;
  height: 400px;
}