html,
body {
  font-size: 100px;
  color: #fff;
}

.active {
  background-color: #004fc0 !important;
}

body {
  overflow: hidden;
}

#wrapper {
  position: relative;
  font-size: 0.16rem;
}

#mainContainer {
  display: flex;
  padding-top: 0.57rem;
}

body {
  position: relative;
  background: url(https://sugar.bce.baidu.com/static/img-templet/background-49uxqXBm2G2jQqod.jpg) 0% 0% / 100% 100% rgb(3, 12, 59);
}

.mainLeft {
  width: 4.5rem;
  overflow: hidden;
  padding: 0 0.2rem 0;
}

.leftHeader {
  display: inline-block;
  font-size: 0.24rem;
}

.leftTop {
  padding: 0.2rem 0;
}

.arc1,
.arc2,
.arc3 {
  position: relative;
  color: #0fffff;
  font-size: 1.08rem;
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: border-box;
  flex: 0 0 auto;
  background: rgba(15, 255, 255, 0.15);
  border: 0.08rem #0069ff solid;
  border-radius: 50%;
}

.arc2,
.arc3 {
  font-size: 0.5rem;
  width: 1.16rem;
  height: 1.16rem;
  text-align: center;
  top: 0rem;
  left: 0.1rem;
  border: none;
}

.arc3 {
  top: 1.3rem;
  left: -1.15rem;
}

.arc2 .txt,
.arc3 .txt {
  padding-top: 0.14rem;
  font-size: 0.18rem;
}

.txtBox {
  background: url(../images/ok.png) 0% 0% / 100% 100% rgb(3, 12, 59);
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: 0;
  top: 0;
  z-index: 9;
}
.building {
  background: url(../images/build.png) 0% 0% / 100% 100% rgb(3, 12, 59);
}

.warnPieWrapper {
  position: relative;
  width: 4.3rem;
  height: 2.5rem;
  margin-top: .08rem;
}

.bgMask {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 255, 255, 0.15);
}


#warnPie1 {
  position: absolute;
  width: 4.3rem;
  height: 2.5rem;
  font-size: 0.16rem;
  left: 0; top: 0;
}

.leftBottom .tabTitle {
  padding-top: 0.08rem;
}

.all,
.top10 {
  font-size: 0.16rem;
  display: inline-block;
  width: 1.25rem;
  height: 0.35rem;
  background-color: #169bd5;
  line-height: 0.35rem;
  letter-spacing: -1px;
  text-align: center;
  cursor: pointer;
}

.warnBarLine1Wrapper {
  width: 4.19rem;
  height: 2.56rem;
  position: relative;
}

#warnBarLine1 {
  margin: 0.12rem 0;
  width: 3.9rem;
  height: 2.97rem;
  font-size: 0.16rem;
}

/* 中间部分 */

.mainCneter {
  width: 9.8rem;
}

.mainCneter .map {
  width: 9.8rem;
  height: 7.1rem;
  /* height: 5.1rem; */
  border-radius: 0.06rem;
  border: dashed 2px #00ffff;
}

#mapCharts {
  width: 9.8rem;
  height: 7.1rem;
}


.searchLimit {
  padding-top: 0.12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchLimit img {
  cursor: pointer;
}

.tabBox>span {
  background-color: #169bd5;
  display: inline-block;
  width: 1.25rem;
  height: 0.35rem;
  line-height: 0.35rem;
  text-align: center;
  cursor: pointer;
}

.searchLimit input {
  width: 1.2rem;
}

.searchLimit input:first-child {
  margin-right: 0.12rem;
}

.searchData1,
.searchData2 {
  margin-top: 0.32rem;
}

.searchData2 {
  display: none;
}

.today {
  font-size: 0.18rem;
  flex-wrap: wrap;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  text-align: center;
  background: rgb(4, 12, 59);
  position: relative;
  top: 0;
  left: 0.64rem;
  z-index: 3;
}

.today>span:first-child {
  padding-top: 0.1rem;
}

.sale,
.price {
  position: relative;
  font-size: 0.72rem;
  flex-wrap: wrap;
  width: 2rem;
  height: 2rem;
  background-color: rgb(2, 147, 171);
  border-radius: 50%;
  text-align: center;
  z-index: 1;
}

.sale {
  background-color: #C0030F;
  left: 0.16rem;
  z-index: 2;
}

.sale .txt,
.price .txt {
  font-size: 0.24rem;
  padding-top: 0.4rem;
}

#barLine2 {
  width: 9.8rem;
  height: 2.2rem;
  font-size: 0.16rem;
}

.mainRight {
  width: 4.35rem;
  margin: 0 0.1rem 0 0.2rem;
  text-align: center;
  color: #cdcdcd;
}

.mainRight .top {
  padding-bottom: 0.1rem;
  border-bottom: 1px dashed #cdcdcd;
}

.mainRight .title {
  font-size: 0.24rem;
}

.mainRight .time {
  font-size: 0.18rem;
  margin: 0.07rem 0 0.3rem 0;
}

.scrollbox {
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
}

#scrollDiv {
  height: calc(100vh - 2.52rem);
  overflow: hidden;
}

#scrollDiv li {
  line-height: 0.36rem;
}

#scrollDiv li {
  display: flex;
  justify-content: space-around;
  line-height: 0.36rem;
}

#scrollDiv li span,
.tableTitle span {
  display: inline-block;
  width: 30%;
}

#scrollDiv li span:first,
.tableTitle span:first-child {
  width: 40%;
}

.mt9 {
  margin-top: .09rem;
}

.mt42 {
  margin-top: .42rem;
}
