body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:61px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:20px;
  width:374px;
  height:61px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:20px;
  width:374px;
  height:1px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:606px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:20px;
  width:1px;
  height:605px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:606px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:20px;
  width:1px;
  height:605px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:570px;
  width:374px;
  height:55px;
}
#u239_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:55px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:55px;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:55px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u241_img.mouseOver {
}
#u241.mouseOver {
}
#u241_img.selected {
}
#u241.selected {
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:90px;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:55px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:94px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u242_img.mouseOver {
}
#u242.mouseOver {
}
#u242_img.selected {
}
#u242.selected {
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:90px;
  word-wrap:break-word;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:55px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:93px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u243_img.mouseOver {
}
#u243.mouseOver {
}
#u243_img.selected {
}
#u243.selected {
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:89px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:55px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:0px;
  width:93px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u244_img.mouseOver {
}
#u244.mouseOver {
}
#u244_img.selected {
}
#u244.selected {
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:89px;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:80px;
  width:374px;
  height:1px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
